<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
        <title></title>
        <style>
            canvas{
                margin-top: 50px;
                width: 550px!important;
                height: 300px!important;
            }
        </style>
    </head>
    <body>
        <center><h3>Reports</h3></center>
        <div class="container">
             
            <div class="row">
                <div class="col">
                    <canvas id="myChart"></canvas>
                 </div>

            </div>
            
        </div>
        

      





        
        
        
    </body>
</html>