

    
    
    <footer class="page-footer font-small unique-color-dark">
     

      <div class="container text-center text-md-left mt-5">


        <div class="row mt-3">


          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">


            <h6 class="text-uppercase font-weight-bold">Business boost</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <a href="#!" style="color: black;">Home</a>
            </p>
            <p>
              <a href="#!" style="color: black;">About Us</a>
            </p>
            <p>
              <a href="#!" style="color: black;">Contact Us</a>
            </p>

          </div>

          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">


            <h6 class="text-uppercase font-weight-bold">Free services</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <a href="#!" style="color: black;">Post jobs</a>
            </p>
            <p>
              <a href="#!" style="color: black;">View Latest jobs</a>
            </p>
            <p>
              <a href="#!" style="color: black;">Helpfull Contacts</a>
            </p>


          </div>

          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Extras</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <a href="/visitor/Signin" style="color: black;">Sign In</a>
            </p>
            <p>
              <a href="/visitor/Signup" style="color: black;">Register Now</a>
            </p>


          </div>

          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Contact</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <i class="fa fa-map-marker mr-3"></i> Bmiit , UTU , Gujarat, India</p>
              <p>
                <i class="fa fa-envelope mr-3"></i> businessboosttt@gmail.com</p>
                <p>
                  <i class="fa fa-phone mr-3"></i> + 91 989 809 8980</p>
                  <p>
                    <i class="fa fa-phone mr-3"></i> + 91 812 818 1281</p>

                  </div>


                </div>


              </div>

              <div class="footer-copyright text-center py-3">© 2020 Copyright :
                <a href="/"> Businessboost.com</a>
              </div>


            </footer>