<div class="container" >
	
			<div class="row">

				<div class="col">
					<div class="card" >
							<center>
							<i class="fa fa-id-card-o" aria-hidden="true" style="font-size: 50px; padding-top: 10px;"></i></center>
							<div class="card-body">
								<h3 class="card-title">Register Your Business</h3>
								<p class="card-text">Join us and get benefit of business bull.</p>	
					</div>
				</div></div>

				<div class="col">
					<div class="card" >
							<center>
							<i class="fa fa-user-o" aria-hidden="true" style="font-size: 50px; padding-top: 10px;"></i></center>
							<div class="card-body">
								<h3 class="card-title">Build Your Business Profile</h3>
								<p class="card-text"> We provide easy way to create your business portal.</p>	
					</div>
				</div></div>

				<div class="col">
					<div class="card" >
							<center>
							<i class="fa fa-rocket" aria-hidden="true" style="font-size: 50px; padding-top: 10px;"></i></center>
							<div class="card-body">
								<h3 class="card-title">Promote Your Business</h3>
								<p class="card-text">Share your profile world wide and get benefite of it.</p>	
					</div>
				</div></div>

				<div class="col">
					<div class="card" >
							<center>
							<i class="fa fa-print" aria-hidden="true" style="font-size: 50px; padding-top: 10px;"></i></center>
							<div class="card-body">
								<h3 class="card-title">Free Billing System with GST</h3>
								<p class="card-text">Esay way to create bill. Manage your product and expense.</p>	
					</div>
				</div></div>

				<div class="col">
					<div class="card">
							<center>
							<i class="fa fa-users" aria-hidden="true" style="font-size: 50px; padding-top: 10px;"></i></center>
							<div class="card-body">
								<h3 class="card-title">Business Bull 24/7 Help</h3>
								<p class="card-text">We are happy to help you. We provide 24/7 help to our customer.</p>	
					</div>
				</div></div>

				

			</div>